<navigation></navigation>

<div class="container">

  <!-- Modal -->
  <div id="myModal" class="modal show" tabidex=-1 role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <!-- <page-header content="vm.pageHeader"></page-header> -->
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h1 class="text-center">Login</h1>
        </div>
        <!-- <div class="row"> -->
        <div class="modal-body">
          <form class="form col-md-12 col-sm-12 center-block">
          <!-- <div class="col-md-6 col-sm-12"> -->

            <p class="lead">No está registrado? Por favor <a href="/#login?page={{ vm.returnPage }}">Ingrese</a>.</p>
            <!-- <form ng-submit="vm.onSubmit()"> -->
              <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
              <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" placeholder="Ingrese su nombre" ng-model="vm.credentials.name">
              </div>
              <div class="form-group">
                <label for="email">Email direccion</label>
                <input type="email" class="form-control input-lg" id="email" placeholder="Ingrese email" ng-model="vm.credentials.email">
              </div>
              <div class="form-group">
                <label for="password">Clave de Acceso</label>
                <input type="password" class="form-control input-lg" id="password" placeholder="Password" ng-model="vm.credentials.password">
              </div>
              <button type="submit" class="btn btn-default">Registrarse!</button>
          </form>
        </div>

        <div class="modal-footer">
          <div class="col-md-12">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          </div>
        </div>
      </div>
  </div>

<footer-generic></footer-generic>
</div>
